[submodule "Nebula/vendor/lua"]
	path = Nebula/vendor/lua
	url = https://github.com/DevStuffzz/lua.git
[submodule "Nebula/vendor/bullet3"]
	path = Nebula/vendor/bullet3
	url = https://github.com/DevStuffzz/bullet3
[submodule "Nebula/vendor/GLFW"]
	path = Nebula/vendor/GLFW
	url = https://github.com/DevStuffzz/glfw
[submodule "Nebula/vendor/imgui"]
	path = Nebula/vendor/imgui
	url = https://github.com/DevStuffzz/imgui
	branch = master
[submodule "Nebula/vendor/entt"]
	path = Nebula/vendor/entt
	url = https://github.com/DevStuffzz/entt
[submodule "Nebula/vendor/glm"]
	path = Nebula/vendor/glm
	url = https://github.com/DevStuffzz/glm
[submodule "Nebula/vendor/glad"]
	path = Nebula/vendor/glad
	url = https://github.com/DevStuffzz/glad
