

# Directories
.vs/
bin/
bin-int/

# Generated project files
*.sln
*.vcxproj
*.user
*.filters

# Generated Makefiles (from premake)
Makefile
*/Makefile
**/*Makefile

# macOS specific
.DS_Store

.vscode/
.idea/

# Mono build files
# We want the directory structure but not the files themselves
Nebula/vendor/mono-build/*