[submodule "Nebula/vendor/spdlog"]
	path = Nebula/vendor/spdlog
	url = https://github.com/gabime/spdlog
[submodule "Nebula/vendor/GLFW"]
	path = Nebula/vendor/GLFW
	url = https://github.com/TheCherno/GLFW
[submodule "Nebula/vendor/imgui"]
	path = Nebula/vendor/imgui
	url = https://github.com/ocornut/imgui
[submodule "Nebula/vendor/lua"]
	path = Nebula/vendor/lua
	url = https://github.com/DevStuffzz/lua.git
