

# Directories
.vs/
bin/
bin-int/

# .NET build artifacts
**/obj/
**/bin/Debug/
**/bin/Release/

# Generated project files
*.sln
*.vcxproj
*.user
*.filters

# Generated Makefiles (from premake)
Makefile
*/Makefile
**/*Makefile

# macOS specific
.DS_Store

.vscode/
.idea/

crash-log.txt

# Mono build files
# We want the directory structure but not the files themselves
Nebula/vendor/mono-build/*


NebulaScriptCore/NebulaScriptCore/obj/
NebulaScriptCore/NebulaScriptCore/bin/


Scripts/Scripts/obj/
Scripts/Scripts/bin/